@tailwind base;
@tailwind components;
@tailwind utilities;

/* API gives us HTML descriptions which needs some styling to look good */
.description-preset p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.max-h-1000 {
    /* You need a specific height to transition to */
    max-height: 2000px;
}
